.login-page{
  background-color: black;
  color: white;
  padding: 80px 0px;
  min-height: 65vh;
}
.login-options{
  width: 80%;
  margin: auto;
  white-space: pre-wrap;
  .heading{
      text-align: center;
  }
}
.details{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.login-btn{
  border: 1px solid white;
  width: auto;
  padding-top: 3.5px;
  cursor: pointer;
  height: 30px;
  text-align: center;
}

.tag{
  img{
    width: 25px;
  }
}
