<div class="login-page">
  <div class="login-options" >
      <span class="heading"><h2 *ngIf="!isLoggedIn">LOGIN V2</h2>
          <h2 *ngIf="isLoggedIn">LOGGED IN AS</h2></span>
      <div class="details">
        <div *ngIf="!isLoggedIn">
          <div class="login-btn" (click)="login()" *ngIf="!url">
            Login with Ballistica V2 Account.
          </div>
          <div *ngIf="url && !error">
              Complete your authentication.... <br> auto redirecting to <br>
              <a href={{url}}>{{url}}</a>
          </div>
          <div *ngIf="error" class="error">
               {{error}} <br><br>
               <div class="login-btn" (click)="retry()">
                    retry
               </div>
          </div>
        </div>
          <div *ngIf="isLoggedIn" class="tag">
            <br><br>
              <img src="assets/img/icon_account_v2.svg" alt=""> {{tag}}
          </div>
      </div>
  </div>
</div>
