<div class="mod-page">
    <div class="mod-info" *ngIf="mod">
        <span class="heading"><h2>{{mod[0].title}}</h2></span>
        <div class="details">
            <div>
                Posted on : {{mod[0].uploadedOn}} <br>
                Posted By : {{mod[0].uploaderUsername}} <br>
                Details : {{mod[0].description}} <br>
                Files : <div class="attachment" *ngFor="let file of mod[0].attachments">
                            <a href={{file}}> {{file.split("/").pop()}}</a> 
                        </div>
            </div>           
        </div>
        <div class="heading return" > 
            <div class="return-btn" routerLink="/mods">
                <h3>Return</h3>
            </div>
        </div>
    </div>
</div>
