.mod-page{
    background-color: black;
    color: white;
    padding: 30px 0px;
    min-height: 65vh;
}
.mod-info{
    width: 80%;
    margin: auto;
    .heading{
        text-align: center;
    }
}
.details{
    justify-content: center;
    width: 70%;
    padding-top: 40px;
}
