.mod-page{
    background-color: black;
    color: white;
    padding: 30px 0px;
    min-height: 65vh;
}
.mod-info{
    width: 80%;
    margin: auto;
    .heading{
        text-align: center;
    }
}
.details{
    padding-top: 40px;
}

.return{
    padding-top:80px;
    display: flex;
    justify-content: center;
    .return-btn{
        border: 1px solid white;
        width: 120px;
       cursor: pointer;
        height: 30px;
    }
}