.main{
  background-color: black;
  color: white;
  line-height: 1.9;
}

h1{
  text-align: center;
}

h2{
  margin: 20px 0px;
}
.content{
  width: 80%;
  margin: auto;
  padding: 20px;
}
img{
  width: 100%;
}
