<div class="background">
  <div class="content">
    <div class="heading">
      <h1>Downloads</h1>
      <div class="bombsquad-app">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"><div class="icon"><img src="assets/img/icon-150x150.png" alt=""></div></div>
            <mat-card-title> BombSquad Game</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/bombsquad-home.png" alt="Bombsquad game ">
          <mat-card-content>
            <p>
              Download BombSquad Game for your Android 5+, Windows 10, Linux, MacBook . BombSquad latest version available on Google PlayStore and Amazon app Store.
              You can download latest test build for Windows Linux MacBook from https://ballistica.net/downloads
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="dwn-btn"><a href="https://play.google.com/store/apps/details?id=net.froemling.bombsquad"><img src="assets/img/gplay-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href="http://appstore.com/mac/bombsquad"><img src="assets/img/mac-badge.webp" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href="http://www.amazon.com/gp/product/B00E7NAVZA/ref=mas_pm_bombsquad"><img src="assets/img/amazon-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Windows_1.7.10.zip"><img src="assets/img/windows-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Linux_x86_64_1.7.10.tar.gz"><img src="assets/img/linux-badge3.webp" alt=""></a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <br><br>
      <div class="bombsquad-remote">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"><div class="icon"><img src="assets/img/bsremote-150x150.png" alt=""></div></div>
            <mat-card-title>BombSquad Remote</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/bombsquad-remote.jpg" alt="BombSquad remote ">
          <mat-card-content>
            <p>
              Want play some BombSquad, but short on controllers? Not a problem. Use your phones and tablets as controllers with the free BombSquad Remote app.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="dwn-btn"><a href="https://play.google.com/store/apps/details?id=net.froemling.bsremote"><img src="assets/img/gplay-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href="http://itunes.apple.com/us/app/bombsquad-remote/id416471850?ls=1&mt=8"><img src="assets/img/ios-badge.webp" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href="https://www.amazon.com/Eric-Froemling-BombSquad-Remote/dp/B00BLYPDJM/"><img src="assets/img/amazon-badge.png" alt=""></a></button>
          </mat-card-actions>
        </mat-card>
      </div> <br><br>
      <div class="bombsquad-vr">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"><div class="icon"><img src="assets/img/icon_vr-150x150.png" alt=""></div></div>
            <mat-card-title>BombSquad VR</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/bombsquad-vr.webp" alt="bombsquad vr ">
          <mat-card-content>
            <p>
              Play BombSquad in VR ! Bomb your enemies in virtual reality , best Multiplayer game in your VR .
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="dwn-btn"><a href="https://play.google.com/store/apps/details?id=net.froemling.bombsquadcb"><img src="assets/img/gplay-badge.png" alt=""></a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <br><br>
      <div class="bombsquad-server">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>BombSquad Server</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="assets/img/bombsquad-home.png" alt="bombsquad vr "> -->
          <mat-card-content>
            <p>
              For running your own headless game servers. <br> <br>

             <a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Linux_Arm64_1.7.10.tar.gz"> BombSquad_Server_Linux_Arm64_1.7.10.tar.gz</a> <br>
             <a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Linux_x86_64_1.7.10.tar.gz"> BombSquad_Server_Linux_x86_64_1.7.10.tar.gz</a> <br>
             <a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Mac_Arm64_1.7.10.tar.gz">BombSquad_Server_Mac_Arm64_1.7.10.tar.gz</a>  <br>
             <a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Mac_x86_64_1.7.10.tar.gz">BombSquad_Server_Mac_x86_64_1.7.10.tar.gz</a>  <br>
             <a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_RaspberryPi_1.7.10.tar.gz">BombSquad_Server_RaspberryPi_1.7.10.tar.gz</a>  <br>
             <a href="https://files.ballistica.net/bombsquad/builds/BombSquad_Server_Windows_1.7.10.zip">BombSquad_Server_Windows_1.7.10.zip</a>  <br>
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button class="dwn-btn"><a href=""><img src="assets/img/gplay-badge.png" alt=""></a></button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>

</div>
