<div class="background">
  <div class="content">
    <div class="heading">
      <span>Downloads</span>
      <div class="bombsquad-app">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>BombSquad Game</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/img/bombsquad-home.png" alt="Bombsquad game ">
          <mat-card-content>
            <p>
              BombSquad, an explosive arcade-style party game best enjoyed with several friends and a large couch.
              Jump, punch, throw, and bomb your way to victory as you compete in a plethora of mini-games including Capture-the-Flag,
               King-of-the-Hill, Bomber-Hockey, and of course Epic-Slow-Motion-Elimination.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/gplay-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/mac-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/amazon-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/windows-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/linux-badge3.png" alt=""></a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <br><br>
      <div class="bombsquad-remote">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>BombSquad Remote</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/img/bombsquad-home.png" alt="BombSquad remote ">
          <mat-card-content>
            <p>
              Want play some BombSquad, but short on controllers? Not a problem. Use your phones and tablets as controllers with the free BombSquad Remote app.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/gplay-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/ios-badge.png" alt=""></a></button>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/amazon-badge.png" alt=""></a></button>
          </mat-card-actions>
        </mat-card>
      </div> <br><br>
      <div class="bombsquad-vr">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>BombSquad VR</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="/assets/img/bombsquad-home.png" alt="bombsquad vr ">
          <mat-card-content>
            <p>
              Play BombSquad in VR ! Bomb your enemies in virtual reality , best Multiplayer game in your VR .
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/gplay-badge.png" alt=""></a></button>
          </mat-card-actions>
        </mat-card>
      </div>
      <br><br>
      <div class="bombsquad-server">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>BombSquad Server</mat-card-title>
          </mat-card-header>
          <!-- <img mat-card-image src="/assets/img/bombsquad-home.png" alt="bombsquad vr "> -->
          <mat-card-content>
            <p>
              For running your own headless game servers. <br> <br>

              BombSquad_Server_Linux_Arm64_1.6.12.tar.gz <br>
              BombSquad_Server_Linux_x86_64_1.6.12.tar.gz <br>
              BombSquad_Server_Mac_Arm64_1.6.12.tar.gz <br>
              BombSquad_Server_Mac_x86_64_1.6.12.tar.gz <br>
              BombSquad_Server_RaspberryPi_1.6.12.tar.gz <br>
              BombSquad_Server_Windows_1.6.12.zip <br>
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button class="dwn-btn"><a href=""><img src="/assets/img/gplay-badge.png" alt=""></a></button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>
  </div>

</div>
