<!-- <div class="side-nav-bar-main">
    <mat-toolbar class="dark-theme">
      <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidenav()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="logo"><img src="/assets/img/mainLogo.png" alt=""></span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md> -->
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <!-- <a href="#" mat-button>HOME</a>
          <a href="#" mat-button>DOWNLOAD</a>
          <a href="#" mat-button>ABOUT</a>
          <a href="#" mat-button>GITHUB</a>
          <a href="#" mat-button>API</a>
          <a href="#" mat-button>LOGIN</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill [ngStyle]="{'height':(isShowing)?'90vh':'0vh'}">
      <mat-sidenav #sidenav mode="side" [(opened)]="isShowing">
        <mat-nav-list> -->
          <!-- <a (click)="toggleSidenav()" href="" mat-list-item>Close</a>   dont disable this -->   
          <!-- <a href="#"  mat-list-item>HOME</a>
          <a href="#" mat-button>DOWNLOAD</a>
          <a href="#" mat-button>ABOUT</a>
          <a href="#" mat-button>GITHUB</a>
          <a href="#" mat-button>API</a>
          <a href="#" mat-button>LOGIN</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
         
      </mat-sidenav-content>
    </mat-sidenav-container>
</div> -->
  
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img
      src="/assets/img/mainLogo.png"
      height="50"
      alt=""
      loading="lazy"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="home">Home</a>
        <a class="nav-link" routerLinkActive="active"  href="https://tools.ballistica.net/builds">Download</a>
        <a class="nav-link" routerLinkActive="active" href="https://github.com/efroemling/ballistica">Github</a>
        <a class="nav-link" routerLinkActive="active" routerLink="mods">Mods</a>
        <a class="nav-link" routerLinkActive="active" href="https://discord.gg/ucyaesh">Discord</a>
      </div>
    </div>
  </div>
</nav>