.menu-spacer {
    flex: 1 1 auto;
  }

.logo{
    img{
      width: 200px;
    }
}
:host ::ng-deep .nav-link{
  padding-right: 2.3rem !important;
}
.navbar-collapse{
  justify-content: space-between;
}
.tag{
  color: white;
}
